*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    background: linear-gradient(60deg,rgb(64, 116, 126),rgb(6, 156, 136));
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: sticky;
    z-index: 1;
    top: 0px;
}
.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 3px #1111115b;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}
.nav-bar a{
    color: azure;
    padding: 5px;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0 1px 3px #111111ab;
}
.nav-bar a:hover{
    transform: scale(1.1);
}
h1{
    color:#1f2122 ;
}
.main{
    display: flex;
    margin: 2rem 3rem;
}
body{
    background: #e8ecec;
}
main{
    width: 80%;
}

aside{
    width: 20%;
    margin-right: .7rem;
}
aside , main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    height: 90vh;
    border-radius: 8px;
    background: aliceblue;
    box-shadow:  0 8px 8px 0 rgba(0, 0, 0, 0.1);
    text-shadow:  0px 1px 2px rgba(0, 0, 0, 0.322);
}
.cards{
    /* margin: 2rem 3rem ;   */
    width: calc(100% - 6rem);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: repeat(auto-fill , minmax(225px , 1fr )); */
    grid-template-rows: auto;
    gap: 2rem 1rem;
    
}
.card-item {
    border-radius: .2rem;
    background:aliceblue;
    box-shadow:  0 8px 8px 0 rgba(0, 0, 0, 0.247);
}
.card-item p{
    padding: 10px;
    text-shadow:  0px .1px 2px rgba(0, 0, 0, 0.192);
}
.cards img{
    border-radius: 0.2rem 0.2rem 0 0 ;
    width: 100%;
    height: 250px;
    display: block ;
}
.menu{
    display: none;
}
@media (max-width: 768px){
    .menu{
        display: block;
        font-size: 25px;
        height: 40px;
        line-height: 40px;
        margin: 5px 0;
        color: rgb(27, 27, 27);
    }
    .nav-bar{
        display: none;
    }
    .header{
        padding: 0 2rem;
    }
   .main{
    flex-direction: column-reverse;
    margin: 1rem ;
   }
   main{
    height: 600px;
   }
   aside{
    height: 300px;
   }
   main, aside{
    width: 100%;
    margin-bottom: .7rem;
    font-size: .7rem;
    font-weight: 500;
    text-shadow:  0px 1px 2px rgba(0, 0, 0, 0.192);
   }
   .cards{
    grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 480px){
     .header{
        padding: 0 1rem;
    }
    .cards{
        grid-template-columns: 1fr;
       }
}